@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f6;
}

/* product table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border: none;
}

/* Inout container */


/* come back to change it for get started */
.input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
}

input{
  padding: 10px;
}

.or{
  text-align: center;
}
.or::after{
  content: '';
  width: 1000px;
  height: 2000px;
  background-color: red;
}


